// start .sArticalsL
.sArticalsL {
	&__container{
		@include media-breakpoint-up(lg){
			max-width: 1060px!important;
		}
	}
	&__items{

	}
	&__item{
		margin-bottom: rem(30);
		padding-bottom: rem(30);

		border-bottom: 1px dashed $gray-590;
		@include media-breakpoint-up(xl){
			border-bottom: none;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};

		flex-direction: column-reverse;
		@include media-breakpoint-up(md){
			flex-direction: row;
		}
	}
	&__icon{
		width: rem(32);
		height: rem(32);

		display: flex;
		align-items: center;
		justify-content: center;

		svg{
			path,rect,circle{
				fill: var(--icon-color, #{$primary})!important;
			}
		}
	}
	&__title{
		display: flex;
		align-items: center;

		font-size: rem(23);
		font-weight: 700;
		color: $body-color;
		&:hover{
			color: $primary;
			text-decoration: underline;
		}

		margin-bottom: rem(25);
	}
	&__content{
		font-size: rem(21);
		padding-bottom: rem(30);
		p{
			margin-bottom: rem(21);
		}

		& >*:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		display: inline-flex;
		align-items: center;

		font-size: rem(23);
		font-weight: 400;
		color: $primary;

		&:after{
			content: '';
			margin-left: rem(6);

			width: rem(12);
			height: rem(12);

			background-image: url(../img/svg/arrow-r-short.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	&__img-col{
		@include media-breakpoint-up(lg){
			width: 40% !important;
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: (185/391) * 100%;
		border-radius: rem(5);
	}
	&__btn{
		@extend .btn-default;
	}
	&__{}
} // end.sArticalsL