// start .scrollmenu
.scrollmenu {
	padding: rem(9) 0;
	@include mt();
	//transform: translateY(-110%);
	&.active{
		transform: translateY(0);
	}

	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background-color: $body-color;

	&__logo{
		display: block;
		width: rem(218);
		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	&__i-link{
		display: flex;
		align-items: center;

		&:hover{
			--i-link-col: #{$primary};
		}
	}
	&__icon{
		flex-shrink: 0;
		margin-right: rem(10);
		width: rem(16);
		height: rem(16);

		display: flex;
		align-items: center;
		justify-content: center;

		svg{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;

			path,rect,circle{
				@include mt();
				fill: var(--i-link-col, #{$white})!important;
			}
		}
	}
	&__i-txt{
		@include mt();
		color: var(--i-link-col,#{$white});
		font-size: rem(17);
		text-transform: uppercase;
	}

	//
	&__call-back{
		display: block;
		@include mt();
		color: $white;
		&:hover{
			color: $primary;
		}

		font-size: rem(19);
		line-height: 1;
		font-weight: 700;
		text-transform: uppercase;
		padding: rem(4) 0;
		border-bottom: 1px dashed currentColor;
		border-top: 1px dashed transparent;
	}
	//
	&__burger{
		@extend .btn;
		@extend .btn-primary;

		border: none!important;
		width: rem(32);
		height: rem(32);
		padding: 0;

		position: relative;

		span:before,
		span:after,
		span{
			@include mt();
			content: '';
			position: absolute;
			width: rem(20);
			height: 2px;
			background-color: $body-color;
		}

		span{
			top: calc(50% - 1px);
			left: 50%;
			transform: translateX(-50%);
		}
		span:before{
			left: 0;
			top: -6px;
		}
		span:after{
			left: 0;
			top: 6px;
		}

		&.active{
			span{
				background-color: transparent;
			}

			span:before{
				transform: rotate(45deg);
				top: 0;
			}
			span:after{
				top: 0;
				transform: rotate(-45deg);
			}
		}

	}
	&__{}
} // end.scrollmenu