.pixel-perfect {
	//top: 0;
	top: 84px;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 320px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

// .main-wrapper { 
// 	display: flex;
// 	flex-direction: row; 
// 	// overflow: scroll;
// 	// width: 100%; 
// 	// height: 100vh;
// 	// height: calc(var(--vh, 1vh) * 100);
	
	
// }
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }


.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	h2{
			@include media-breakpoint-down(sm) {
				text-align: center;
				font-size: 35px;
			}
	}
	padding-bottom: var(--sTPB);

	& > *:last-child{
		margin-bottom: 0;
	}

	&--pushed{
		@include media-breakpoint-up(lg){
			padding-left: rem(60);
		}
	}
}



.mono {
	font-family: $mono;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	position: absolute;
	z-index: 10;
	top: 50%;
	width: rem(50) !important;
	height: rem(50) !important;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: $white;
	border: 1px solid $gray-400;
	@include media-breakpoint-up(xxl){
		background-color: transparent;
		border: 1px solid transparent;
	}

	&-prev{
		right: unset!important;

		left: 10px!important;
		transform: translateY(-0%)!important;
		@include media-breakpoint-up(xxl){
			left: -12px!important;
			transform: translateX(-100%) translateY(-0%) !important;
		}
	}
	&-next{
		transform: translateY(-0%)!important;
		right: 10px!important;
		@include media-breakpoint-up(xxl){
			left: calc(100% + 12px)!important;
			right: unset!important;
			transform: translateX(0) translateY(-0%) !important;
		}
	}

	.icon{
		@include mt();

		font-size: rem(24px);
		@include media-breakpoint-up(xxl){
			font-size: rem(32px);
		}
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

//
.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			//filter: brightness(100%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.btn-default{
	@extend .btn;
	@extend .btn-outline-primary;
	min-width: rem(240);
	box-shadow: none!important;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-size: rem(25);

	border: 2px solid $primary!important;
	background-color: $white!important;
	color: $body-color!important;
	&:hover{
		border: 2px solid $body-color!important;
		background-color: $body-color!important;
		color: $white!important;
	}

	span{
		color: $primary;
		font-weight: 700;
		margin-left: 5px;
	}
}

.container{
	@include media-breakpoint-down(xl){
		max-width: 100% !important;
	}
}
//
.galery-link{
	@extend .accept-ratio-frame-nh;
	padding-top: (134/138) * 100%;
	border-radius: rem(5);

	&:after{
		@include mt();
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($primary, .5);

		background-image: url(../img/@2x/img-link-zoom.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 42px;
	}

	//
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}

//
.dot-item-frame{
	&:last-child{
		margin-bottom: 0;
		&:after{
			content: none;
		}
	}
	position: relative;
	z-index: 1;
	&:after{
		content: '.................................................';
		width: 100%;
		overflow: hidden;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		//height: 3px;
		color: $body-color;
		font-weight: 700;

		font-size: rem(19px);
		letter-spacing: rem(8);
		@include media-breakpoint-up(xl){
			letter-spacing: rem(13.5px);
		}
	}
}

//
.thin-cont{
	.container{
		@include media-breakpoint-up(lg){
			max-width: 1040px!important;
		}
	}
}

//
.check-list-li{
	display: flex;
	align-items: center;

	margin-bottom: rem(16);
	&:last-child{
		margin-bottom: 0;
	}

	&:before{
		content: '';
		width: rem(19);
		height: rem(19);
		flex-shrink: 0;
		margin-right: rem(15);

		background-image: url(../img/svg/correct-orange.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	font-size: rem(19);
}
//
.bot-triangle{
	position: relative;
	&:after{
		opacity: 0;
		@include mt();
		content: '';
		position: absolute;

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 17px 8px 0 8px;
		border-color: $primary transparent transparent transparent;

		left: 50%;
		transform: translateX(-50%);
		top: calc(100% - 1px);
	}
}

.custom-scroll2{
	
	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block;
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 14px;
		height: 2px;
		border-color: transparent;
		// opacity: 0;
		-webkit-box-shadow: none;
		background-color: $black;
		box-shadow: inset 0 0 0 6px $white;
	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: $primary;
		border-radius: 14px;

	}

	&::-webkit-scrollbar-button {
		display: none
	}
}
//
.doted-li{
	position: relative;
	padding-left: rem(10);
	&:before{
		content: '';
		position: absolute;
		width: rem(5);
		height: rem(5);
		border-radius: 50%;
		background-color: $primary;
		left: 0;
		top: rem(10);
	}
	font-size: rem(21);
	line-height: rem(25);
}

//
.cTabs-content-js{
	display: none;
	&.active{
		display: block;
	}
}
//
.orange-box-iconed{
	display: flex;
	align-items: center;

	&:before{
		content: '';
		width: rem(24);
		height: rem(24);
		margin-right: rem(12);

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
//

.ui-page__main{
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 100vh;
}

.ui-page__footer{
	margin-top: auto;
}
//
.breadcrumb{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0 0 rem(16);

	&-item{
		a{
			display: inline-flex;
			align-items: center;
			&:after{
				content: '';
				display: inline-block;
				width: rem(12);
				height: rem(12);
				margin: 0 6px;
				color: $primary;
				font-family: $mono;

				background-image: url(../img/svg/arrow-r-short.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}

		&:last-child{
			a{
				&:after{
					content: none;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.ui-stages__tab.--current{
		color: #000 !important;
		&::after{
			content: '';
			position: absolute;
			right: 20px;
			top: 15px;
			display: block;
			width: (8px * 1.2);
			height: (16px * 1.2);
			background-image: url(../img/svg/arrow-down.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.js-tabs-wrapper{

		.ui-block__tabs{
			margin-bottom: 0;
			padding-bottom: 30px;
			background-color: transparent;	
			a{
				background-color: #000;
			}
		}
	}
.--advantages{
	.ui-card__header{
		font-size: 40px;
		text-transform: none;
	}
			.ui-card{
				&:nth-child(1) {
				order: -1;
				}
				&:nth-child(3) {
					order: -1;
				}
			}
		}
		.--price{
			.ui-price-table__header{
				box-shadow: 0 0 84px rgba(1, 23, 11, 0.22);
				border-radius: 5px;
				background-color: $gray-300;
				opacity: 0.75;
				background-color: #fff;
				padding-top: rem(20);
				padding-bottom: rem(20);
				position: relative;
				&::after{
					content: '';
					background-image: url(../img/svg/chevron-down.svg);
					position: absolute;
					right: 10px;
					width: rem(21 * 2);
					height: rem(12 * 2);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					@include mt;

				}
			}

			.--current {
				.ui-price-table__header{
					&::after{
						transform: rotateX(180deg);
					}
				}
			}
		}

}



@media (max-width: 576px) {
	.ui-home-hero .swiper-slide:not(.swiper-slide-active) {
		opacity: 0 !important;
	}
.ui-home-hero__pagination,
.ui-home-hero__pagination.swiper-pagination-bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.ui-home-hero__arrow{
	margin-top: 90px;
}
	.ui-home-hero__column.--media {
		max-width: 100% !important;
	}
}

@media (max-width: 576px) {
	.ui-home-hero__button.--size-xl{
		width: 100%;
	}
	.ui-home-hero__controls:after,
	.ui-home-hero__controls:before{
		// display: none;
	}
}

@media (max-width: 544px) {
	.--helpful{
		.ui-card__icon {
			height: 54px;
			width: 54px;
		}
		.ui-card__icon {
			// display: none;
			display: block !important;
		}
		.ui-card__header{
			padding-right: 60px;
		}
	}
}

// .sTime{

	body .select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below .select2-results__option {
		margin-bottom: 0 !important;
	}
// }
.sOther__img,
.sConsistance__icon {

	svg{
		width: 100%;
	}
}

.replaced-svg{
	width: 100% 	!important;
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: $primary !important; 
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail{

	background-color: #000000;
}
.mCSB_draggerContainer{

}
.mCSB_draggerContainer{
	&::before{
		content: '';
		display: block;
		margin-left: auto;
		margin-right: auto;
		// @include a-cent;
		height: 100%;
		width: 2px;
		background-color: #000000;
	}
}