extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWalls/_sWalls.pug
include ../blocks/headerOld/_headerOld.pug
include ../blocks/sHeaderBlOld/_sHeaderBlOld.pug
include ../blocks/sDiscont/_sDiscont.pug
include ../blocks/sDiscount/_sDiscount.pug
include ../blocks/scrollmenu/_scrollmenu.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	+scrollmenu()
	+oldMobMenu()
	+HeaderOld2()
	+sHeaderBlOld()
	+sRepairmentOld()
	+sVantageOld()
	+sGaleryOld()
	+sPriceOld()
	+sStepsOld()
	+sPriceListOld()
	//-+sDiscountOld()
	+sDiscount()
	+sFeedBackOld()
	+sUsefullOld()
	+sMapOld()
	+footerOld()



