extends layout/main.pug
include ../blocks/scrollmenu/_scrollmenu.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWalls/_sWalls.pug
include ../blocks/headerOld/_headerOld.pug
include ../blocks/sHeaderBlOld/_sHeaderBlOld.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sDiscont/_sDiscont.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sGalery/_sGalery.pug
include ../blocks/sFamiliar/_sFamiliar.pug
include ../blocks/sDismantling/_sDismantling.pug
include ../blocks/sPriceTabs/_sPriceTabs.pug
include ../blocks/sInstall/_sInstall.pug
include ../blocks/sTechnology/_sTechnology.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sType/_sType.pug
include ../blocks/sOther/_sOther.pug
include ../blocks/sTime/_sTime.pug
include ../blocks/sConsistance/_sConsistance.pug
include ../blocks/sCalculation/_sCalculation.pug
include ../blocks/sTable/_sTable.pug
include ../blocks/sData/_sData.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sAny/_sAny.pug
include ../blocks/sProject/_sProject.pug
include ../blocks/sList/_sList.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sArticals/_sArticals.pug
include ../blocks/sOffice/_sOffice.pug
include ../blocks/sBath/_sBath.pug
include ../blocks/sTypes/_sTypes.pug
include ../blocks/sBlack/_sBlack.pug
include ../blocks/sComplex/_sComplex.pug
include ../blocks/sBathRep/_sBathRep.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sBill/_sBill.pug
include ../blocks/sImages/_sImages.pug
include ../blocks/sNoMat/_sNoMat.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sTabs/_sTabs.pug
include ../blocks/sDecorative/_sDecorative.pug
include ../blocks/sCalculator/_sCalculator.pug
include ../blocks/s404/_s404.pug
include ../blocks/sFAQN/_sFAQN.pug
include ../blocks/sArtical/_sArtical.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sSliderB/_sSliderB.pug
include ../blocks/sArticalsL/_sArticalsL.pug
include ../blocks/sPrices/_sPrices.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= '56+'
	title= title
block pagecontent
	+scrollmenu()
	+oldMobMenu()
	+HeaderOld2()
	//+sFAQ()
	//+sTabs()
	//+sDecorative()

	//-new blocks
	+sCalculator()
	+s404()
	+sFAQ()
	+sFAQN()
	+sArtical()
	+sFeedBack()
	+sSearch()
	+sSliderB({})
	.mb-5
	+sSliderB({
		addClasses: 'flex-row-reverse',
	})
	+sArticalsL()
	+sPrices()
	+footerOld()