// start .sSliderB
.sSliderB {
	background: $primary;

	.section-title{
		h2{
			font-size: rem(42);
			margin-bottom: rem(30);
		}
		p{
			font-size: rem(21);
			font-weight: 400;
		}
	}
	.form-wrap{
		&__input-wrap{
			width: 100%;
			@include media-breakpoint-up(sm){
				width: rem(170);
			}
		}
		&__input{
			padding: rem(6.5) rem(20);
			font-size: rem(21);
			font-weight: 700;
		}
		&__btn{
			@extend .btn;
			@extend .btn-dark;

			min-width: 100%;
			@include media-breakpoint-up(sm){
				min-width: rem(170);
			}

			padding: rem(6) rem(20);
			font-size: rem(19);
			font-weight: 700;
			text-transform: uppercase;
		}
		&__{}
	}
	&__slider-wrap{
		.swiper-container{}
		.swiper-wrapper{}
		.swiper-slide{
			width: 100%;
		}

		.swiper-pagination{
			position: static!important;
			padding: rem(20) 0;

			display: flex;
			align-items: center;
			justify-content: center;
			.swiper-pagination-bullet{
				width: rem(12);
				height: rem(12);
				background-color: $white!important;
				opacity: 1!important;
				border-radius: rem(40);
				border: none!important;
				box-shadow: none!important;
				&-active{
					background-color: $black!important;
					width: rem(33);
				}
			}
		}
	}
	&__grid{
		width: 100%;

		height: rem(320);
		@include media-breakpoint-up(sm){
			height: rem(380);
		}
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: rem(8);
		grid-row-gap: rem(8);

		& > *:nth-child(1){
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
		& > *:nth-child(2){

		}
		& > *:nth-child(3){

		}
	}
	&__img-link{
		@extend .galery-link;
		width: 100%;
		height: 100%!important;
		padding-top: 0!important;

		@include media-breakpoint-up(xl){
			border-radius: 0;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sSliderB