// start .sFeedBack
.sFeedBack {

	&__items{

	}
	&__item{
		@extend .dot-item-frame;
		padding-bottom: rem(40);
		margin-bottom: rem(40);
		@include media-breakpoint-up(md){
			padding-bottom: rem(60);
			margin-bottom: rem(60);
		}
	}
	&__title{
		font-size: rem(25);
		@include media-breakpoint-up(md){
			font-size: rem(33);
		}
		margin-bottom: rem(30);
	}
	&__row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};

		flex-direction: column-reverse;
		@include media-breakpoint-up(md){
			flex-direction: row;
		}
	}
	&__galery-col{
		.swiper-container{}
		.swiper-wrapper{
			@include media-breakpoint-up(md){
				transform: none!important;
				flex-wrap: wrap;
				@include roww(rem(10));
				& > *{
					margin-bottom: 10px;
				}
			}
		}
		.swiper-slide{
			&.sm-slide{
				@include media-breakpoint-up(md){
					width: calc(100% / 3) !important;
				}
			}

			&.swiper-slide-duplicate{
				@include media-breakpoint-up(md){
					display: none;
				}
			}
		}

		.swiper-pagination{
			position: static;

			.swiper-pagination-bullet{
				opacity: 1!important;
				width: 14px;
				height: 14px;
				margin: 2px;

				background-color: $primary;
				border: 3px solid $primary;
				&-active{
					background-color: $white;
				}
			}
		}
	}
	//&__sub-row{
	//	--bs-gutter-x: #{rem(10)};
	//	--bs-gutter-y: #{rem(10)};
	//}

	&__img-link{
		@extend .galery-link;
		padding-top: (316/474) * 100%;
		border-radius: 0;
	}
	&__iconed{
		display: flex;
		margin-bottom: rem(25);
	}
	&__icon{
		flex-shrink: 0;
		width: rem(28);
		height: rem(28);
		margin-right: rem(10);

		display: flex;
		align-items: center;
		justify-content: center;

		svg{
			path,rect,circle{
				fill: var(--icon-color, #{$primary})!important;
			}
		}
	}
	&__content{
		padding-top: rem(0);
	}
	&__ic-title{
		font-size: rem(21);
		//font-weight: bold;
		margin-bottom: rem(15);

		b{
			margin-right: rem(5);
		}
	}
	&__val{
		font-size: rem(21);
	}
	//
	&__list{
		li{
			@extend .doted-li;
			padding-left: rem(20);
		}
	}
	&__read-txt{
		@include mt();
		color: $primary;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}

		cursor: pointer;
		&:hover{
			color: $primary;
		}
	}
	//feedback
	&__feedback{
		margin-top: rem(15);

		&.active{
			display: block;
		}
	}
	&__f-box{
		position: relative;
		border: 2px solid $primary;

		padding: rem(30) rem(20);
		@include media-breakpoint-up(sm){
			padding: rem(30);
		}
	}
	&__btn-cont{
		min-height: rem(50);
		padding-bottom: rem(10);
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	&__f-close-btn{
		display: inline-flex;
		align-items: center;

		.icon{
			@include mt();
			font-size: rem(19);
			margin-right: rem(6);
			color: $primary;
		}

		color: $primary;
		font-size: rem(19);
		text-decoration: underline;
		cursor: pointer;
		&:hover{
			text-decoration: none;
		}

	}
	&__f-row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(10)};

		padding-left: rem(110);
		padding-bottom: rem(20);
	}
	&__portrait{
		width: rem(116);
		height: rem(116);
		border: 8px solid $white;
		border-radius: 50%;

		position: absolute;
		left: rem(25);
		top: 0;
		transform: translateY(-50%);
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name{
		font-weight: bold;
		font-size: rem(21);
		//margin-bottom: rem(20);
	}
	&__cert-txt{
		color: $primary;
		font-size: rem(19);
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	&__cert{
		display: block;
		width: rem(100);
		margin: 0 auto;

		img{
			width: 100%;
			height: auto;
		}
	}
	&__f-txt{
		font-size: rem(21);
	}
	&__{}
	&__{}
} // end.sFeedBack