mixin sArtical(data)
	// start sArtical
	+b.SECTION.sArtical.section#sArtical&attributes(attributes)
		+e.container.container
			+breadcrumb('Главная', 'Статья', 'Отдельная статья')
			//-→
			+e.content
				h1 Отдельная статья
				p Название жидкие обои не следует воспринимать буквально. Этот отделочный материал представляет собой композиционный конгломерат из связующих, красящих веществ, целлюлозных волокон, нитей из шелка, хлопка, перламутра, что позволяет создать многообразие фактур, расцветок или узоров. Применить сухие порошки для декорирования стен можно для украшения помещений любого типа. С их помощью создается удивительная фактура, которая украшает жилые дома, офисы, административные здания.
				ul
					li Встреча с прорабом и замер помещений квартиры
					li Подготовка предварительной сметы (точность 90%)
					li Встреча и консультация с дизайнером интерьеров
					li Разработка дизайна-интерьера квартиры
					li Подготовка детальной сметы ремонта (цена фиксируется)
				br
				br
				h2 Комплексный и частичный ремонт H2
				p Название жидкие обои не следует воспринимать буквально. Этот отделочный материал представляет собой композиционный конгломерат из связующих, красящих веществ, целлюлозных волокон, нитей из шелка, хлопка, перламутра, что позволяет создать многообразие фактур, расцветок или узоров. Применить сухие порошки для декорирования стен можно для украшения помещений любого типа. С их помощью создается удивительная фактура, которая украшает жилые дома, офисы, административные здания.
				ol
					li Монтаж перегородок
					li Штукатурка стен
					li Электромонтажные работы
					li Монтаж систем отопления
					li Монтаж теплых полов
					li Монтаж водоснабжения и канализации
					li Стяжка пола
					li Монтаж системы вентиляции
					li Прокладка трасс для кондиционеров
					li Монтаж гипсокартона
					li Укладка плитки
					li Малярные работы (шпатлевка)
					li Укладка напольных покрытий
					li Поклейка обоев, окраска стен и потолков
					li Монтаж натяжных пололков
					li Финальные работы
				p Название жидкие обои не следует воспринимать буквально. Этот отделочный материал представляет собой композиционный конгломерат из связующих, красящих веществ, целлюлозных волокон, нитей из шелка, хлопка, перламутра, что позволяет создать многообразие фактур, расцветок или узоров. Применить сухие порошки для декорирования стен можно для украшения помещений любого типа. С их помощью создается удивительная фактура, которая украшает жилые дома, офисы, административные здания.
				blockquote Название жидкие обои не следует воспринимать буквально. Этот отделочный материал представляет собой композиционный конгломерат из связующих, красящих веществ, целлюлозных волокон, нитей из шелка, хлопка, перламутра, что позволяет создать многообразие фактур, расцветок или узоров. Применить сухие порошки для декорирования стен можно для украшения помещений любого типа. С их помощью создается удивительная фактура, которая украшает жилые дома, офисы, административные здания.
				h3 Капитальный или косметический H3-H5
				a(href='#') Назад к списку
			+e.row.row
				.col
					+e.link--back(href='#') Предыдущая статья
				.col-auto
					+e.link--forward(href='#') Следущая статья
	// end sArtical