// start .sBill
.sBill {
	&__caption{
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			@include media-breakpoint-up(md){
				content: none;
			}

			position: absolute!important;
			z-index: -1;
			top: 0;
			@include tear(100vw);
			height: 100%;
			background-color: inherit;
		}

		margin-bottom: rem(35);
		@include media-breakpoint-up(xl){
			margin: 0 rem(-20) rem(35) rem(-20);
			padding: 0 rem(20);
		}

		border-radius: rem(5);
		background-color: $gray-300;

		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{
			@include media-breakpoint-up(md){
				justify-content: space-between;
			}
		}
		.swiper-slide{
			width: auto;
		}
	}
	&__tabs-btn{
		font-size: rem(17);
		line-height: 1;
		padding: rem(20);
		text-transform: uppercase;

		@extend .bot-triangle;
		color: $body-color;
		text-decoration: none;
		&.active{
			color: $primary;
			text-decoration: underline;
			&:after{
				opacity: 1;
			}
		}
	}
	&__tr{
		--bs-gutter-y: #{rem(10)};

		font-size: rem(18);
		--bs-gutter-x: #{rem(10)};
		@include media-breakpoint-up(sm){
			font-size: rem(21);
			--bs-gutter-x: #{rem(20)};
		}
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(30)};
		}
		margin-bottom: rem(20);

		&--head{
			font-size: rem(20);
			@include media-breakpoint-up(sm){
				font-size: rem(23);
			}
			font-weight: 700;
			margin-bottom: rem(30);
		}
	}
	&__name-col{
		color: $primary;
		text-align: center;
		font-weight: 700;
		@include media-breakpoint-up(md){
			color: $body-color;
			font-weight: 400;
			text-align: left;
			width: 35%;
		}
		@include media-breakpoint-up(lg){
			width: 50%;
		}
	}
	&__col{
		text-align: center;
	}
	//amount
	&__amount{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__a-btn{
		@include mt();
		cursor: pointer;
		width: rem(20);
		height: rem(30);
		&:hover{
			transform: scale(1.5);
			color: $primary;
		}
	}
	&__a-input{
		width: rem(40);
		line-height: rem(30);
		padding: 0 rem(5);
		margin: 0 rem(5);
		text-align: center;
	}
	&__{}
	&__{}
} // end.sBill