// start .s404
.s404 {
	flex-grow: 1;

	@include media-breakpoint-up(xl){
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}

	--sTPB: #{rem(0)};

	background-color: $primary;
	@include media-breakpoint-up(xl){
		margin-top: rem(-30);
	}
	&__row{

	}
	.section-title{
		h1{
			line-height: 1;
			font-size: rem(163px);
			margin-bottom: rem(35);
		}
		p{
			@include media-breakpoint-up(md){
				max-width: rem(450);
			}
			color: $body-color;
			font-size: rem(33);

			a{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	&__img{
		@include media-breakpoint-up(md){
			width: rem(300);
		}
		@include media-breakpoint-up(lg){
			width: rem(350);
		}
		margin-right: rem(40);
		@include media-breakpoint-up(xl){
			width: rem(419);
			margin-right: rem(70);
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	&__{}
	&__{}
	&__{}
} // end.s404