mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+e.items.sFAQ-dd-group-js
				+sFAQItem({
					title: 'С каких работ вы начинаете отделку квартиры ?',
					content: 'Отделка квартиры всегда начинается с проведения подготовительных работ (выезд на объект сметчика, дизайнера, составление сметы). После этого мы проводим ремонт коммуникаций, сатехники, отопления, электропроводки и приступаем к отделочным работам.',
					activeClasses: 'active',
				})
				+sFAQItem({
					title: 'Может ли в ходе ремонта меняться стоимость работ ?',
					content: 'Может, но только по Вашему требованию. То есть, проводя ремонт квартиры, вопросы увеличения или уменьшения его стоимости мы решаем исходя из Ваших дополнительных требований, возникающих в процессе. Вы можете отказаться от каких-либо работ или наоборот, заказать выполнение дополнительных объемов. В любом случае малейшее изменение стоимости предварительно согласовывается с Вами.',
					activeClasses: '',
				})
				+sFAQItem({
					title: 'Как происходит оплата ваших услуг ?',
					content: 'Работы по отделке квартиры производятся в три этапа, каждый этап оплачивается отдельно. Приблизительно можно сказать, что каждый раз вы оплачиваете треть от всей суммы. Последний платеж вносится только после полного завершения отделочных работ.',
					activeClasses: '',
				})
				+sFAQItem({
					title: 'Кто контролирует выполнение работ ?',
					content: 'К каждому объекту прикреплен прораб. Он отвечает за правильную организацию и качество выполнения работ, исполнение сроков, указанных в договоре, предоставления отчетов заказчику, как по выполненным работам, так и по деньгам, затраченным на материалы. Дополнительный технический надзор осуществляет инженер проекта.',
					activeClasses: '',
				})
	// end sFAQ

mixin sFAQItem(data)
	+e.item(class=data.activeClasses)
		+e.head.dd-head-js
			+e.q-sign
				+icon('question')
			+e.h-txt=data.title
			+e.chevron
				+icon('chevron-down')
		+e.content.dd-content-js(class=data.activeClasses)=data.content