// start .sList
.sList {
	&__container{
		@include media-breakpoint-up(lg){
			max-width: 1040px;
		}
	}
	//
	&__row{
		--bs-gutter-y: #{rem(30)};
		--bs-gutter-x: #{rem(20)};

		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(12)};
		}
	}
	&__txt-col{
		ul{
			list-style: none;

			li{
				@extend .check-list-li;
			}
		}
	}
	&__bold{
		font-size: rem(25);
		font-weight: 700;
		margin-bottom: rem(20);
	}
	&__img{
		width: rem(320);
		margin: 0 auto;

		@include media-breakpoint-up(sm){
			width: rem(220);
		}
		@include media-breakpoint-up(md){
			width: rem(320);
		}
		@include media-breakpoint-up(lg){
			width: rem(420);
		}
		img{

		}
	}
	&__{}
} // end.sList