mixin sArticals(data)
	// start sArticals
	+b.SECTION.sArticals.section#sArticals&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Статьи:
			+e.main-row.row
				+sArticalsItem({
					imgNum: 1,
					title: 'Жидкие обои в интерьере квартиры - как выбрать?',
					descr: 'Название жидкие обои не следует воспринимать буквально. Этот отделочный материал представляет собой композиционный конгломерат из связующих, красящих веществ, целлюлозных волокон, нитей из шелка, хлопка, перламутра, что позволяет создать многообразие фактур, расцветок или узоров. Применить сухие порошки для декорирования стен можно для украшения помещений любого типа. С их помощью создается удивительная фактура, которая украшает жилые дома, офисы, административные здания.',
				})
				+sArticalsItem({
					imgNum: 2,
					title: 'Керамическая плитка для кухни, ванной комнаты, стен и пола.',
					descr: 'В качестве полезных качеств керамической плитки, стоит, прежде всего, отметить ее высокую практичность. В частности, она отличается большой влагостойкостью, экологичностью, долговечностью и удобством в использовании. При этом не стоит также упускать из виду ее большой декоративный потенциал. Когда стены и полы помещения в квартире облицовываются керамической плиткой, то сначала лучше подобрать саму плитку, а уже под нее – все остальные предметы интерьера – мебель, сантехнику и т.д.',
				})
				.col-12
					+e.btn(href="#")
						| Показать еще
						span +
	// end sArticals

mixin sArticalsItem(data)
	.col-md-6
		+e.row.row.gy-3
			.col-sm-auto
				+e.icon
					img.img-svg-js(loading="lazy" src=`img/svg/info.svg` alt='')
			.col-sm
				+e.title(href="#")=data.title
				+e.img(href='#')
					img(loading="lazy" src=`img/@2x/sArticals-${data.imgNum}.png` alt="")
				+e.descr=data.descr
				+e.read-more(href='#') Читать полностью →