mixin sPlate(data)
	// start sPlate
	+b.sPlate.section#sPlate&attributes(attributes)
		.container
			+e.box
				+e.b-row.row(class=`${data.addClasses || ''}`)
					.col-lg-6
						+e.title Панели для отделки стен из ПВХ
						+e.descr
							p Пластиковые панели – это наверное, самый распространенный вариант сделать быстро и не дорого отделку стен. ПВХ панели можно применить для отделки как квартиры так и офиса. Данный вид панелей не подходит для отделки стен в спальной комнате или кухни. Пластиковыми панелями лучше отделать коридор или балкон, а так же хорошо подойдет для ванной  
						+e.title-sm Плюсы панелей из ПВХ
						+e.descr.crm-js
							.crm-visiable-js
								p Пластиковые панели – это наверное, самый распространенный вариант сделать быстро и не дорого отделку стен. ПВХ панели можно применить для отделки как квартиры так и офиса.
							.crm-hidden-js
								p Пластиковые панели – это наверное, самый распространенный вариант сделать быстро и не дорого отделку стен. ПВХ панели можно применить для отделки как квартиры так и офиса. Данный вид панелей не подходит для отделки стен в спальной комнате или кухни. Пластиковыми панелями лучше отделать коридор или балкон, а так же хорошо подойдет для ванной комнаты.
							.crm-btn-js
								span Развернуть
								span свернуть
						+form-wrap()
							+e.row.row
								.col-sm
									+input('+7   ( * * * ) * * * - * * - * *', 'tel')
								.col-sm-auto
									+e.btn(href='#') ОСТАВИТЬ ЗАЯВКУ
					.col-lg-6
						+e.slider-wrap
							.swiper-container.sDecorative-slider-js
								.swiper-wrapper
									-for (var i = 1; i < 9; i += 3)
										+sDecorativeSlide(i)
								.swiper-pagination
	// end sPlate